.storyContainer {
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-bottom: 10px;
    width: 220px;
    border: 1.2px solid;
    border-color: rgb(232,232,232);
    
}

.storyTop {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 5px;
    font-size: 10px;
}


.stories {
    height: 180px;
    overflow: auto;
}

.eachStory {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 5px 5px 0px;
}

.storyProPic {
    width: 25px;
    border-radius: 50%;
}

.storyNameTime {
    display: flex;
    flex-flow: column wrap;
    font-size: 9px;
    padding: 0px 5px;
}